.font {
  font-family: 'Roboto Mono', monospace;
}

.top-header {
  font-size: 3rem;
  padding-top: 2.5rem;
}

.top-text {
  padding-top: 1rem;
  font-size: 3rem;
  padding-left: 1rem;
}

.btn.top-button {
  font-size: 1.2rem;
  color: black;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}


/*.big-icon:hover {
  margin-bottom: 0;
  font-size: 2.5rem;
}*/


.about {
  word-wrap: normal;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}


.section-header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.btn {
  box-shadow: none !important;
}

.btn-primary:hover {
  filter: drop-shadow(0.1rem 0.1rem 0.1rem black)
}


.card-section {
  display: inline-block;
  padding-bottom: 1rem;
}

.code-card {
  width: 20rem;
  margin: 0.5rem;
}

.blog-card {
  width: 40rem;
  margin: 0 auto !important;
}

.footer {
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer-link {
  color: #007bff;
  text-decoration: underline;
}

@media(min-width: 1000px) {
  .about {
   width: 80%; 
  }
}

@media(max-width: 520px) {
	.top-text {
      padding-left: 0rem;
	  font-size: 2.5rem;
    }
	.about {
      padding-left: 0.5rem;
	  padding-right: 0.5rem;
    }
}
