.font {
  font-family: 'Roboto Mono', monospace;
}

.top-header {
  font-size: 3rem;
  padding-top: 2.5rem;
}

.top-text {
  padding-top: 1rem;
  font-size: 3rem;
  padding-left: 1rem;
}

.big-icon {
  font-size: 2rem;
  color: black;
  padding: 5px;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.discord-icon {
  font-size: 1.85rem;
}

.big-icon:hover {
  margin-bottom: 0;
  font-size: 2.5rem;
}


.about {
  word-wrap: normal;
  font-size: 1.1rem;
  width: 80%;
}

@media(min-width: 1000px) {
  .about {
   width: 50%; 
  }
}
.section-header {
  font-size: 2rem;
}

.btn {
  box-shadow: none !important;
}

.btn-primary:hover {
  filter: drop-shadow(0.1rem 0.1rem 0.1rem black)
}


.card-section {
  display: inline-block;
  padding-bottom: 1rem;
}

.code-card {
  width: 20rem;
  margin: 0.5rem;
}

.blog-card {
  width: 10rem;
  margin: 0.5
}

.footer {
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer-link {
  color: #007bff;
  text-decoration: underline;
}

@media(max-width: 480px) {
	.top-text {
      padding-left: 0rem;
	  font-size: 2.5rem;
    }
}
