.font {
  font-family: 'Roboto Mono', monospace;
}

.top-header {
  font-size: 3rem;
  padding-top: 2.5rem;
}

.top-text {
  padding-top: 1rem;
}

@media(min-width: 480px) {
	.top-text {
      padding-left: 1rem;
    }
}

.big-icon {
  font-size: 2rem;
  color: black;
  padding: 5px;
  margin-bottom: 0.5rem;
}

.discord-icon {
  font-size: 1.85rem;
}

.big-icon:hover {
  margin-bottom: 0;
  font-size: 2.5rem;
}


.about {
  word-wrap: normal;
  width: 50%;
}


.project-header {
  font-size: 2rem;
}

.btn:focus {
  outline: none;
}

.btn-primary:hover {
  filter: drop-shadow(0.1rem 0.1rem 0.1rem black)
}


.card-section {
  display: inline-block;
  padding-bottom: 1rem;
}

.github-card {
  width: 20rem;
  margin: 0.5rem;
}

.footer {
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer-link {
  color: #007bff;
  text-decoration: underline;
}
