<!-- Projects header -->
<div class="justify-content-center row">
  <div class="section-header">BLOG</div>
</div>
<ul>
  <script>
    const loadPost = (divId, content) => {
      $("#" + divId).append(content);
    }
  </script>
  {% block content %}
  {% for page in section.pages %}
  <div class="justify-content-center card blog-card">
    <div class="card-body">
      <h1 class="blog-h1 justify-content-center row">{{ page.title | safe }}</h1>
      <div class="justify-content-center">
        {{ page.content | safe }}
      </div>
    </div>
  </div>
  {% endfor %}
</ul>
{% endblock content %}